###############################################################################
# 0) use "git add -n ." to check what could be added, but not really added
###############################################################################

###############################################################################
# 1) Ignore everything by default
###############################################################################
*

###############################################################################
# 2) Allow root files we want
###############################################################################
!.gitignore
!_CoqProject
!CoqMakefile
!LICENSE
!Makefile
!README.md

###############################################################################
# 3) Allow the two top-level folders
###############################################################################
!theories/

###############################################################################
# 4) IMPORTANT: allow all subdirectories under them (so Git can descend)
###############################################################################
!theories/**/

###############################################################################
# 5) In those trees, allow ONLY these extensions (any depth)
###############################################################################
!theories/**/*.v

###############################################################################
# 6) EXCLUDED
###############################################################################
FORMALIZATION.md
theories/PaperText.v
CoqMakefile.conf

